*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --border-radius: 1rem;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, rgb(202, 216, 228) 0%, hsl(209, 36%, 86%) 15%, hsl(224, 44%, 95%) 50%);
}

.wrapper {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    padding-top: 2rem;
}

.wrapper input {
    padding-left: 0.5rem;
    font-size: 1rem;
    border-right: none;
    outline: none;
    background: none;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.wrapper .wrapper_search_icon {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.category .category_list{
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.std{
    
}

/* mobile */
@media only screen and (max-width: 600px) {
    .wrapper input {
        min-width: 300px;
        min-height: 40px;
    }

    .wrapper .wrapper_search_icon {
        min-height: 40px;
        min-width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: unset;
    }

    .category {
        min-width: 350px;
        padding-inline: 2rem;
        padding-top: 1rem;
    }
}

/* tablet */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .wrapper input {
        min-width: 400px;
        min-height: 40px;
    }

    .wrapper .wrapper_search_icon {
        min-height: 40px;
        min-width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: unset;
    }

    .category {
        min-width: 450px;
        padding-inline: 10rem;
        padding-top: 1rem;
    }

    .category .category_list{
        gap: 15px;
    }
}

/* desktop */
@media only screen and (min-width: 769px) {
    .wrapper input {
        min-width: 700px;
        min-height: 40px;
    }

    .wrapper .wrapper_search_icon {
        min-height: 40px;
        min-width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: unset;
    }

    .category {
        min-width: 750px;
        padding-inline: 24rem;
        padding-top: 1rem;
    }

    .category .category_list{
        gap: 20px;
    }
}
