@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

:global(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.password-input {
  position: relative;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  border-radius: 4px;
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
}

.form input:focus {
  box-shadow: 0 0 5px 0 var(--primary-color);
}

.validation-message {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

.singup {
  outline: 0;
  background: var(--primary-color);
  width: 100%;
  border: 0;
  border-radius: 3px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 15px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.singup:hover,
.singup:active,
.singup:focus {
  background: black;
  color: #fff;
}

.message {
  margin-top: 15px;
  text-align: center;
}

.form .message a {
  font-size: 14px;
  color: var(--primary-color);
  text-decoration: none;
}
.cursor-pointer{
  position: absolute;
  height: 20px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: transparent;
}