@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
	/* Colors */
	--primary-color:#1a202c; /* This root variable is deprecated. Use the below updated variable instead. */
	--color-primary: #1a202c;
	--color-secondary: #2d6a7b;
	--color-secondary-transparent: rgba(45, 106, 123, 0.5);

	/* Radius */
	--radius-sm: 6px;
	--radius-md: 10px;
	--radius-lg: 14px;

	/* Font family */
	--font-size-button: 1.2rem;
	--font-weight-button: 400;
	--font-family-button: "Roboto Condensed", sans-serif;
	--font-family-heading: "DM Sans", sans-serif;

	/* Authentication (Login & Signup) Primary CTA Button Colors & font-family */
	--color-auth-cta-bg: #3fa9c5;
    --color-auth-cta-active: #2b7f96;
    --color-auth-cta-disabled: rgba(63, 169, 197, 0.4);
	--color-auth-hyperlink: rgb(69, 69, 255);
	--font-family-auth: "Roboto Condensed", sans-serif;

	/* Box shadows */
	--shadow-color: 0, 0, 0;
	--box-shadow-1: 0 1px 3px rgba(var(--shadow-color), 0.05);
	--box-shadow-2: 0 4px 6px rgba(var(--shadow-color), 0.08), 
              		0 1px 3px rgba(var(--shadow-color), 0.1);
	--box-shadow-3: 0 1px 2px rgba(0,0,0,0.07), 
    				0 2px 4px rgba(0,0,0,0.07), 
    				0 4px 8px rgba(0,0,0,0.07), 
    				0 8px 16px rgba(0,0,0,0.07);


	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);

	
}

*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
